Pour avoir la clé :

- Aller sur : 
https://console.cloud.google.com/iam-admin/serviceaccounts/details/104334708253224175129/keys?inv=1&invt=Abim4w&project=power-bi-m2

- Ajouter une clé

- Créer une clé

- Choisir JSON

- Récupérer la clé qui s'est telechargé

- Placer la clé dans le dossier

- Renommer la clé en : key.json
